// This file is needed for @smui-components to work
// since it's imported for all components in rollup.config.js
@import "colors";

$mdc-theme-primary: #ff3e00;
$mdc-theme-secondary: #676778;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";
// Main Top App Bar styling.
@import "@smui/top-app-bar/style";
.mdc-top-app-bar.dpg {
  // Color the top bar with "surface" colors.
  @include mdc-top-app-bar-fill-color-accessible(#f5f5f5);
  @include mdc-top-app-bar-icon-ink-color(on-surface);
  // Give it a shadow.
  @media screen and (max-width: 719px) {
    @include mdc-elevation(1);
  }
  // Position it above the drawer.
  z-index: 7;
}

// $mdc-theme-error: $material-color-red-900;

// @import "@material/theme/color-palette";
// @import "@material/theme/variables";
// @import "@material/typography/mdc-typography";

// body {
//     background: $mdc-theme-background;
// }
